
<section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title text-center mt-4 mb-2">Contáctanos: </h1>
        
            <div id="imagen">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" 
                width="300"
                height="300"
                alt="">
        
            </div>


                <form action="">
                    <div class="form-group position-relative mb-3">
                        <label for="formName" class="d-block">
                            <i class="icon" data-feather="user"></i>
                        </label>
                        <input type="text" id="formName" class="form-control form-control-lg thick" placeholder="Nombre">
                    </div>

                    <div class="form-group position-relative mb-3">
                        <label for="formEmail" class="d-block">
                            <i class="icon" data-feather="mail"></i>
                        </label>
                        <input type="email" id="formEmail" class="form-control form-control-lg thick"
                            placeholder="E-mail">
                    </div>

                    <div class="form-group message mb-3">
                        <textarea id="formMessage" class="form-control form-control-lg" rows="7"
                            placeholder="Mensaje"></textarea>
                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" tabindex="-1">Enviar</button>
                    </div>
                
                </form>

                
        </div>
    </div>
</div>




</section>
