<section>
    <h2 class="text-center mt-3">Sobre Nosotros</h2>
    <div id="parrafo">
    <p class="font-italic mt-2 mb-1 text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt.</p>
    </div>
    <div id="container">
    <div class="row pb-5 mb-4">
        
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0" >
                <div class="card-body p-0" id="card">
                    <div class="bg-primary px-5 py-4 text-center card-img-top"><img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
                        <h5 class="text-white mb-0">Emma Nevoresky</h5>
                        <p class="small text-white mb-0">CEO</p>
                    </div>
                    <div class="p-4 d-flex justify-content-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <button class="btn btn-primary">Conocer más</button>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0"  >
                <div class="card-body p-0" id="card">
                    <div class="bg-success px-5 py-4 text-center card-img-top"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6h3O-7VlFrE8Om3Wl072rKhG4IJfY792YNyOoAT2wYpXoVRhHnJbIwpP9p80zIZGznHY&usqp=CAU" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
                        <h5 class="text-white mb-0">Ruth Hardy</h5>
                        <p class="small text-white mb-0">CTO</p>
                    </div>
                    <div class="p-4 d-flex justify-content-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <button class="btn btn-success">Conocer más</button>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0"  >
                <div class="card-body p-0" id="card">
                    <div class="bg-info px-5 py-4 text-center card-img-top"><img src="https://cdn.pixabay.com/photo/2021/01/04/10/41/icon-5887126_960_720.png" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
                        <h5 class="text-white mb-0">Jill Sunderland</h5>
                        <p class="small text-white mb-0">Marketing Mannager</p>
                    </div>
                    <div class="p-4 d-flex justify-content-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <button class="btn btn-info">Conocer más</button>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0"  >
                <div class="card-body p-0"id="card">
                    <div class="bg-warning px-5 py-4 text-center card-img-top"><img src="https://cutewallpaper.org/cdn-cgi/mirage/dd19f2d06ebc24f541f142b37b4289ffa7de722a7607e39984c5c6dd4ce8defd/1280/24/girl-icon-png/girl-flat-icon-png-image-with-transparent-background-toppng.png" alt="..." width="100" class="rounded-circle mb-2 img-thumbnail d-block mx-auto">
                        <h5 class="text-white mb-0">Sandra Tarly</h5>
                        <p class="small text-white mb-0">Gerent</p>
                    </div>
                    <div class="p-4 d-flex justify-content-center">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <button class="btn btn-warning">Conocer más</button>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>