section {
    border-top: dashed white 3px;
    background-color: #3894c2ce;
}
h2 {
    text-shadow: 1px 3px 3px white;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    color: #DE3641;
}

#container {
    margin: 35px;
}

#parrafo {
    margin-left: 80px;
    margin-right: 80px;

}

#card {
    border: dashed #DE3641 2px;
    box-shadow: 0px 0px 3px 2px white;

}