<body>
    <div class="row ">
        <h1 class="text-center mb-5 mt-3" >Capacitaciones</h1>
        <div class="col-md-3 offset-2">
            <div class="card">
                <h5 class="card-header text-center"style="color:white">Marketing</h5>
                <div class="card-text mt-3 text-center">
                    <h3 ><b>$550</b> <span id="mes" class="text-secondary"> / mes</span></h3>
                    <div class="mt-2" id="text">
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit architecto numquam at molestias consectetur
                            inventore rerum.
                        </p>
                        </div>
                    <div class="mt-5 ">
                        <a href="#" class="btn btn-outline-primary">+ info</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <h5 class="card-header text-center" style="color:white">UX/UI</h5>
                <div class="card-text mt-3 text-center">
                    <h3 ><b>$510</b> <span id="mes" class="text-secondary"> / mes</span></h3>
                    <div class="mt-2" id="text">
                        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit architecto numquam at molestias consectetur
                            inventore rerum.
                        </p>
                        </div>
                    <div class="mt-5">
                        <a href="#" class="btn btn-primary">+ info</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3" >
            <div class="card">
                <h5 class="card-header text-center" style="color:white">Contabilidad</h5>
                <div class="card-text mt-3 text-center">
                    <h3 ><b>$560</b> <span id="mes" class="text-secondary"> / mes</span></h3>
                    <div class="mt-2" id="text">
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit architecto numquam at molestias consectetur
                        inventore rerum.
                    </p>
                    </div>
                    <div class="mt-5">
                        <a href="#" class="btn btn-primary">+ info</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</body>