<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Certus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="nosotros">Nosotros</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/asesorias">Asesorías</a></li>
              <li><a class="dropdown-item" >Consultas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">Capacitaciones</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Contactos</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

